{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<main class="container">
    <section class="row">
        <article class="col-md-8 offset-md-2">
            <h1>Create New Post</h1>
            <form method="POST" enctype="multipart/form-data" id="create-post-form"
                aria-label="Create new forum post form">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary" aria-label="Submit new post">
                    Create Post
                </button>
            </form>
        </article>
    </section>
</main>

{% endblock %}