{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            <img src="{% static 'images/rzrtr-logo.jpg' %}" class="summarazorator-logo" alt="Summarazorator Logo">
        </div>
        <article class="col-12 col-md-8">
            <h2>{{ about.about_title }}</h2>
            <div>{{ about.about_content | safe }}</div>
        </article>
    </div>
    <aside class="row">
        <div class="col text-right">
            {% if about %}
            <p class="text-end"><em>Last updated: {{ about.about_updated_on }}</em></p>
            {% endif %}
        </div>
    </aside>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Let's collaborate!</h2>
            <p>Do you like the way Summarazorator handles community? Have an interesting idea for a topic? Please
                contact us using the form below, and let's see what we can do together.</p>

            <form method="post" id="collaboration-form" aria-label="Collaboration request form">
                {{ collaborate_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit"
                    aria-label="Submit collaboration request">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}