{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center">

            {% if "placeholder" in about.about_logo_image.url %}
            <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%" alt="placeholder">
            {% else %}
            <img src="{{ about.about_logo_image.url }}" width="75%" alt="{{ about.about_title }}">
            {% endif %}

        </div>
        <div class="col-12 col-md-8">
            <h2>{{ about.about_title }}</h2>
            <p>{{ about.about_content | safe }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">


            <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Let's collaborate!</h2>
            <p>Do you like the way Summarazorator handles community? Have an interesting idea for a topic? Please
                contact us using the form below, and let's see what we can do together.</p>

            <form method="post" id="collaboration-form">
                {{ collaborate_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>

        </div>
    </div>
</div>
{% endblock content %}