{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- displaying Django messages -->
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible
            fade show" id="msg" role="alert">
                {{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <!-- <img src="{% static 'images/nobody.jpg' %}" width="75%"> -->
            {% if "placeholder" in profiler.image.url %}
            <img src="{% static 'images/nobody.jpg' %}" class="scale" alt="placeholder image">
            {% else %}
            <img src="{{ profiler.image.url }}" class="scale" alt="{{ profiler.image }}">
            {% endif %}
        </div>
        <div class="col-8" id="profiler-data">
            <h2>User: {{ profiler.user | safe }}</h2>
            <h3>Bio</h3>
            {{ profiler.bio | safe }}

            <h2>Last Posts</h2>
            {% if profiler.last_posts.exists %}
            <ul>
                {% for post in profiler.last_posts.all %}
                <li>{{ post.title }} - {{ post.excerpt }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No posts available.</p>
            {% endif %}

            <h2>Last Comments</h2>
            {% if profiler.last_comments.exists %}
            <ul>
                {% for comment in profiler.last_comments.all %}
                <li>{{ comment.body }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No comments available.</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <p class="text-end"><em>Updated on: {{ profiler.updated_on }}</em></p>
        </div>
    </div>

    <!-- Edit Profiler -->
    <a href="{% url 'profiler_edit' profiler.id %}" class="btn btn-edit">Edit Profile</a>

</div>
{% endblock content %}